body {
  text-align: center;
  font-size: 4vmax;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #FF5252, #2196F3);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#temperature {
  display: inline;
}

button {
  line-height: 0;
  border-style: none;
  border-radius: 20%;
  font-size: 4vmax;
  padding: 0 1vmax;
  background-color: rgba(0, 0, 0, 0);
  animation-name: rise;
  animation-duration: 0.2s;
  box-shadow: 0 0.5vmax 0.5vmax 0.2vmax rgba(0, 0, 0, 0.2);
}

button:hover {
  animation-name: sink;
  animation-duration: 0.2s;
  box-shadow: 0 0.1vmax 0.1vmax 0.1vmax rgba(0, 0, 0, 0.2);
}

@keyframes sink {
  from {box-shadow: 0 0.5vmax 0.5vmax 0.2vmax rgba(0, 0, 0, 0.2);}
  to {box-shadow: 0 0.1vmax 0.1vmax 0.1vmax rgba(0, 0, 0, 0.2);}
}

@keyframes rise {
  from {box-shadow: 0 0.1vmax 0.1vmax 0.1vmax rgba(0, 0, 0, 0.2);}
  to {box-shadow: 0 0.5vmax 0.5vmax 0.2vmax rgba(0, 0, 0, 0.2);}
}